.panel {
	text-align: center;
	opacity: 0.75;
	background-color: white;
	color: black;
	margin-top: 90px;
	margin-bottom: 20px;
}

.panel-heading {
	text-align: center;
	opacity: 0.75;
	background-color: white;
	color: black;

}

body {
	background-image: url("../images/court.jpg");
	background-size: cover;
}

.smallimage {
	height: 200px;
	width: 200px;
}
