#trivia-screen {
	text-align: center;
	background-color: black;
	opacity: 0.75;
	color: white;
	margin-top: 90px;
	margin-bottom: 20px;
}

body {
	background-image: url("../images/capital.jpg");
	background-size: cover;
}

#clock {
	font-size: 18px;
}

#question{
	font-size: 18px;
}

#choice{
	font-size: 16px;
}